<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Name:</th>
      <th>Developer:</th>
      <th>Publisher:</th>
      <th>Platform:</th>
      <th>Release Date:</th>
      <th>Genre:</th>
      <th>Reviews:</th>
    </tr>
  </thead>
  <tbody>
    <% games.forEach(function(m) { %>
      <tr>
        <td><%= m.name %></td>
        <td><%= m.developer %></td>
        <td><%= m.publisher %></td>
        <td><%= m.platform %></td>
        <td><%= m.releaseDate %></td>
        <td><%= m.genre %></td>
        <td><%= m.avg %></td>
        <td><a href="/games/<%= m._id %>">DETAILS</a></td>

        <td><a href="/games/<%= m._id %>/edit">EDIT GAMES</a></td>
        <td>
            
              <form action="/games/<%= m._id %>?_method=DELETE" method="POST" class="secondary-content">
                <button type="submit" class="btn-small red-text">X</button>
              </form>

        </td>
      </tr>
      <% }); %>
    </tbody>
    
  </table>
  
<%- include('../partials/footer') %>
